CA/CA/Service References/Server/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Srv" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ISrv_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISrv_AddRule_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRule" />
  </wsdl:message>
  <wsdl:message name="ISrv_AddRule_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRuleResponse" />
  </wsdl:message>
  <wsdl:message name="ISrv_DelRule_InputMessage">
    <wsdl:part name="parameters" element="tns:DelRule" />
  </wsdl:message>
  <wsdl:message name="ISrv_DelRule_OutputMessage">
    <wsdl:part name="parameters" element="tns:DelRuleResponse" />
  </wsdl:message>
  <wsdl:portType name="ISrv">
    <wsdl:operation name="AddRule">
      <wsdl:input wsaw:Action="http://tempuri.org/ISrv/AddRule" message="tns:ISrv_AddRule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISrv/AddRuleResponse" message="tns:ISrv_AddRule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DelRule">
      <wsdl:input wsaw:Action="http://tempuri.org/ISrv/DelRule" message="tns:ISrv_DelRule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISrv/DelRuleResponse" message="tns:ISrv_DelRule_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISrv" type="tns:ISrv">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddRule">
      <soap:operation soapAction="http://tempuri.org/ISrv/AddRule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelRule">
      <soap:operation soapAction="http://tempuri.org/ISrv/DelRule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_ISrv" type="tns:ISrv">
    <wsp:PolicyReference URI="#NetTcpBinding_ISrv_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="AddRule">
      <soap12:operation soapAction="http://tempuri.org/ISrv/AddRule" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelRule">
      <soap12:operation soapAction="http://tempuri.org/ISrv/DelRule" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Srv">
    <wsdl:port name="BasicHttpBinding_ISrv" binding="tns:BasicHttpBinding_ISrv">
      <soap:address location="http://0.0.0.0:46000/Server.Srv" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_ISrv" binding="tns:NetTcpBinding_ISrv">
      <soap12:address location="net.tcp://0.0.0.0:46001/Server.Srv" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://0.0.0.0:46001/Server.Srv</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>MACHINE\007-0_000</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>